<h1>To Do</h1>

<h3>Create a new list:</h3>

<form action="/lists" method="post">
  <div class="form-group">
    <label class="form-label" for='name'>Assign a name to your list:</label>
    <input class="form-control" id = 'name' name = 'name' type='text' placeholder="List Name" autofocus>
  </div>
  <div class="span7 text-center">
    <button type='submit' class="button button-add btn center">Add list</button>
  </div>
</form>

<hr>

<% if @lists.any?() %>
  <h3>Click on a list to see its tasks:</h3>

  <ul>
    <% @lists.each() do |list| %>
      <li><a href="/lists/<%= list.id()%>"><%= list.name() %></a> [<a href="/delete_list/<%= list.id()%>">x</a>]</li>
    <% end %>
  </ul>

  <% else %>
    <p>There are no lists yet!</p>
  <% end %>

<hr>
